<?
/*
this is the color section.. I will give a brief description of what each variable is for if necessary 
*/

/* Body Attribute Colors (Global)*/
//$bg_color = "#eeeeee";          // Main Background Color
$bg_color = "#ffffff";          // Main Background Color
$text_color = "#000000";        // Text Color for plain text

$link_color = "#777777";        // Link Color
$v_link_color = "#777777";      // Visited Link Color
$a_link_color = "#777777";      // Active Link Color
$h_link_color = "#663333";      // The Hover color for links (Only IE and >= Netscape 6)
?>
