<br />
<br />
<center>
<hr width="85%">
<br />
<? include("/usr/httpd/virtual/www.mn-linux.org/html/tclugmembers/search/index.php"); ?>
<P>
<a href="<?="$path_to_members_index/$members_script/list/"; ?>">List</a>
&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;
<a href="<?="$path_to_members_index/$members_script/submit/"; ?>">Submit</a>


  </body>
</html>
