<?
include("$path/include/$theme/colors.tmpl");
mynews_connect($hostname , $db_user , $db_pass , $dbName);
?>
<html>
  <head>
<link REL="SHORTCUT ICON" HREF="/images/tclug.ico" >
  </head>

  <body bgcolor="<?="$bg_color"?>" text="<?="$text_color"?>" link="<?="$link_color"?>" alink="<?="$a_link_color"?>" vlink="<?="$v_link_color"?>">
<A HREF="http://www.mn-linux.org"><img src="/images/tclugminn.jpg" width=500 height=150 border=0 alt="Twin Cities Linux Users Group - Minneapolis, Minnesota"></A>
<h1>TCLUG Members</h1>


